In [1]:
import pandas as pd
from __future__ import division

pd.set_option('display.max_columns',100)
pd.set_option('display.max_rows',200)

In [3]:
df = pd.read_csv('./../working-data/bzn-biz-licenses.csv')

In [4]:
print df.columns
df.head()

Index([u'biz_name', u'license_num', u'control_num', u'resp_dept_code',
       u'resp_dept_descr', u'class_code', u'class_descr', u'fiscal_year',
       u'license_status', u'code_descr', u'status_date', u'application_date',
       u'issue_date', u'licen_exp_date', u'renew_date', u'location_id',
       u'street_num', u'street_pre_qual', u'street_dir_code', u'street_name',
       u'street_suffix', u'street_post_qual', u'street_apt_num',
       u'class_desc_cat', u'class_desc_detail'],
      dtype='object')

,biz_name,license_num,control_num,resp_dept_code,resp_dept_descr,class_code,class_descr,fiscal_year,license_status,code_descr,status_date,application_date,issue_date,licen_exp_date,renew_date,location_id,street_num,street_pre_qual,street_dir_code,street_name,street_suffix,street_post_qual,street_apt_num,class_desc_cat,class_desc_detail
0,... AND SEW ON,52085,25732,BL,BUSINESS LICENSE,SER 28,SERVICE - SEWING/ALTERATIONS,15,IN,INACTIVE,2015-12-16,2015-01-22,2015-08-02,2015-12-31,NaN,52760,601,NaN,NaN,NIKLES,DR,NaN,NaN,SERVICE,SEWING/ALTERATIONS
1,... AND SEW ON,53948,25732,BL,BUSINESS LICENSE,RET 38,RETAIL - OTHER,16,AC,ACTIVE,2016-03-02,2015-12-16,2016-03-02,2016-12-31,NaN,52760,601,NaN,NaN,NIKLES,DR,NaN,NaN,RETAIL,OTHER
2,@ YOUR SERVICE,53148,26432,BL,BUSINESS LICENSE,SER 31,SERVICE - OTHER,15,RN,RENEWED,2016-01-13,2015-07-28,2015-10-12,2015-12-31,2016-01-13,84770,100,NaN,NaN,OUT OF CITY LIMITS,ST,NaN,NaN,SERVICE,OTHER
3,@ YOUR SERVICE,53148,26432,BL,BUSINESS LICENSE,SER 31,SERVICE - OTHER,16,AC,ACTIVE,2016-01-13,2016-01-13,2016-01-13,2016-12-31,NaN,84770,100,NaN,NaN,OUT OF CITY LIMITS,ST,NaN,NaN,SERVICE,OTHER
4,"""DO ME A PRETTY FAVOR PLEASE!""",19250,12322,BL,BUSINESS LICENSE,SER 31,SERVICE - OTHER,7,IN,INACTIVE,2008-04-09,2007-04-19,2007-04-19,2007-12-31,NaN,84770,100,NaN,NaN,OUT OF CITY LIMITS,ST,NaN,NaN,SERVICE,OTHER

In [ ]:
# df_16 = df[df['fiscal_year'] == 16]

In [ ]:
# len(df_16)

In [ ]:
# years = df['fiscal_year'].unique()

# prev_year = 2823
# for year in range(2, 16):
#     num = len(df[df['fiscal_year'] == year])
#     print year, num, num / prev_year * 100 - 100
#     prev_year = num

In [ ]:
# df_16['class_descr'].unique()

In [ ]:
# grouped = df_16.groupby(['class_desc_cat', 'class_desc_detail']).agg({'license_num': 'count'})
# grouped.reset_index().sort_values(['class_desc_cat', 'license_num'], ascending=[True, False])
# # SEEMS TO DROP BUSINESSES W/ NaN class_desc_detail

# df_16['class_descr'].value_counts()

In [ ]:
# df_16[df_16['class_descr'] == 'SERVICE - OTHER']

In [ ]:
df[df['street_name'].str.contains('MAIN')]