In [ ]:
# Attach location IDs for properties to addresses/tax codes that can be used to match them to city parcels

In [11]:
import pandas as pd
import geopandas as gpd

In [12]:
taxing = pd.read_excel('./../raw-data/assessments_eric_chronicle_2016-01-28.xlsx', )

In [66]:
taxing['street_num'] = taxing['ABABTX'].apply(lambda x: str(int(x)))

def str_int_not_nan(value):
    if pd.notnull(value):
        return str(int(value))
    else return None

def str_not_nan(value):
    if pd.isnull(value):
        return ""
    else:
        return str(value)
keys = ['street_num', 'ABCHCD', 'ABACCD', 'ABAECD', 'ABFXCD', 'ABDFCD']

taxing['t_address'] = taxing[keys].apply(lambda x: ' '.join(x.map(str_not_nan)), axis=1)

ValueError: cannot convert float NaN to integer

In [14]:
print taxing.columns
taxing.head()

Index([   u'ABADTX',    u'ABAUCD',    u'TXTXY4',    u'TXRASD',    u'TXRADS',
          u'ABABTX',    u'ABEMCD',    u'ABCHCD',    u'ABACCD',    u'ABAECD',
          u'ABFXCD',    u'ABEPCD',    u'ABDFCD',    u'ABBPCD',  u'TXTAXA01',
       u't_address'],
      dtype='object')

,ABADTX,ABAUCD,TXTXY4,TXRASD,TXRADS,ABABTX,ABEMCD,ABCHCD,ABACCD,ABAECD,ABFXCD,ABEPCD,ABDFCD,ABBPCD,TXTAXA01,t_address
0,NaN,3930.0,2010.0,STREET,STREET MAINTENANCE,310.0,-314,S,TRACY,AVE,NaN,NaN,NaN,59715,126.68,314 S TRACY AVE
1,NaN,3930.0,2010.0,TREE,TREE MAINTENANCE,310.0,-314,S,TRACY,AVE,NaN,NaN,NaN,59715,24.30,314 S TRACY AVE
2,NaN,14090.0,2010.0,STREET,STREET MAINTENANCE,103.0,-111,S,4TH,AVE,NaN,NaN,NaN,59715,42.23,111 S 4TH AVE
3,NaN,14090.0,2010.0,STREET,STREET MAINTENANCE,103.0,-111,S,4TH,AVE,NaN,NaN,NaN,59715,42.23,111 S 4TH AVE
4,NaN,14090.0,2010.0,TREE,TREE MAINTENANCE,103.0,-111,S,4TH,AVE,NaN,NaN,NaN,59715,8.10,111 S 4TH AVE

In [15]:
def to_string(value):
    if pd.isnull(value):
        return None
    else:
        return str(int(value))

taxing['ABAUCD'] = taxing['ABAUCD'].apply(to_string)

In [ ]:
taxing['TXTXY4'].unique()

In [16]:
df = taxing[['ABADTX','ABAUCD']][taxing['TXTXY4'] == 2016][pd.notnull(taxing['ABADTX'])]

/Users/ericdietrich/anaconda/lib/python2.7/site-packages/IPython/kernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

In [17]:
df = df.drop_duplicates()
df.rename(columns={'ABADTX': 'tax_code', 'ABAUCD': 'parcel_id'}, inplace=True)

In [ ]:
df.to_csv('./../geodata/code-to-parcel.csv')

In [27]:
df.head()

        tax_code parcel_id
1130       ALDER    218380
1142  BAXMPH4OPN    209670
1173  MDWCRJ453C    229100
1193     MMM5944     85350
1215     MMM5946     85370

In [ ]:
%ls ./../geodata

In [23]:
gdf = gpd.read_file('./../geodata/parcels.shp')

In [24]:
gdf = gdf[['LANDUSE','TAXCODE','geometry']]

In [26]:
gdf.head()

  LANDUSE   TAXCODE                                           geometry
0     SFR   RGH6557  POLYGON ((-111.0371702908188 45.66023004384551...
1     SFR   RGH3077  POLYGON ((-111.0340748253462 45.66463963759285...
2     DTR  RGG67424  POLYGON ((-111.1077146074659 45.69007381260906...
3     SFR  RFH40712  POLYGON ((-111.0300231015683 45.71168717926448...
4     SFR  RGG31355  POLYGON ((-111.0840284781531 45.68188000765788...

In [57]:
combined = gdf.merge(df, left_on='TAXCODE', right_on='tax_code', how='left')

In [58]:
combined = combined[['TAXCODE','parcel_id', 'LANDUSE','geometry']]

In [59]:
len(combined)

15045

In [60]:
combined.head()

,TAXCODE,parcel_id,LANDUSE,geometry
0,RGH6557,35940,SFR,POLYGON ((-111.0371702908188 45.66023004384551...
1,RGH3077,48090,SFR,POLYGON ((-111.0340748253462 45.66463963759285...
2,RGG67424,234090,DTR,POLYGON ((-111.1077146074659 45.69007381260906...
3,RFH40712,141780,SFR,POLYGON ((-111.0300231015683 45.71168717926448...
4,RGG31355,61560,SFR,POLYGON ((-111.0840284781531 45.68188000765788...

In [61]:
combined.to_file('./../geodata/parcels-merged.shp')

In [65]:
taxing['ABEMCD'].value_counts()

2016-01-02 00:00:00    439
B                      171
A                      167
-11                    144
D                      105
C                      105
E                       90
F                       60
-15                     56
-1215                   50
-22                     44
-38                     44
-39                     44
-308                    44
-30                     44
-1022                   44
-311                    43
-113                    43
& 133                   43
-134                    43
-23                     42
-524                    37
-307                    37
-204                    37
-7                      37
-4088                   36
-523                    30
-306                    30
-1921                   30
-1830                   29
                      ...
-1008                   15
-819                    15
-773                    15
-737                    15
-760                    15
-759                    15
-817                    15
-738                    15
-4089                   14
-111                     8
-1196                    5
-5163                    4
-5191                    4
-5519                    4
-1060                    3
-1098                    3
-1085                    3
-1042                    3
-1057                    3
-1080                    3
-1035                    3
-1020                    3
-1017                    3
-720                     3
-1002                    3
-980                     3
-314                     2
-5059                    2
-5025                    2
-5099                    2
Name: ABEMCD, dtype: int64